/* About Styles */
.container {
  padding: 2rem;
}

h4 {
  font-size: 1.25rem;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  margin: 1rem 0;
}

li {
  margin-bottom: 0.5rem;
}

img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.developer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.developer-info h4 {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  color: #333;
}

.developer-info img {
  height: 300px;
  width: 300px;
}
